* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at top, #2a0a4d, #0b0614);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.forkt-panel {
  width: 90%;
  max-width: 420px;
  background: rgba(20, 10, 40, 0.9);
  border-radius: 18px;
  padding: 22px;
  box-shadow: 0 0 45px rgba(160, 80, 255, 0.4);
  text-align: center;
}

.forkt-panel h1 {
  margin: 0;
  color: #c38cff;
  letter-spacing: 1px;
}

.info-box {
  margin: 20px 0;
  background: #160c2b;
  border-radius: 14px;
  padding: 15px;
}

.info-box h2 {
  margin: 0 0 12px;
  font-size: 14px;
  color: #9f7bff;
  letter-spacing: 1px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.info-row b {
  color: #e6d4ff;
}

.ready {
  color: #6bffb3;
}

button {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(135deg, #7f2aff, #b66bff);
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  transform: scale(1.04);
  box-shadow: 0 0 25px #9f7bff;
}

#statusText {
  margin-top: 10px;
  font-size: 13px;
  opacity: 0.8;
}

footer {
  margin-top: 18px;
  font-size: 12px;
  opacity: 0.6;
}

footer span {
  color: #c38cff;
}
.notes-box {
  margin-top: 15px;
  background: #120a24;
  border-radius: 14px;
  padding: 12px;
  text-align: left;
  max-height: 160px;
  overflow-y: auto;
}

.notes-box h2 {
  margin: 0 0 8px;
  font-size: 13px;
  color: #9f7bff;
  letter-spacing: 1px;
  text-align: center;
}

.notes-box ul {
  padding-left: 18px;
  margin: 0;
}

.notes-box li {
  font-size: 13px;
  margin-bottom: 6px;
  color: #e6d4ff;
  line-height: 1.4;
}

/* scrollbar halus */
.notes-box::-webkit-scrollbar {
  width: 5px;
}
.notes-box::-webkit-scrollbar-thumb {
  background: #7f2aff;
  border-radius: 10px;
}
.vip {
  color: #ffd36b;
}

.free {
  color: #ff6b6b;
}